//paleta de colores 
$color-bg-dark: rgb(38, 100, 82);
$color-bg-black: #000;
$color-green-light: rgb(73, 246, 171);
$color-green-mid: rgb(38, 144, 50);
$color-green-transparent: rgba(70, 156, 113, 0.268);
$color-green-hover: rgba(16, 141, 106, 0.268);
$color-white-light: #f5fdff;
$color-white-full: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-text-green-dark: rgb(9, 112, 56);
$color-text-white: rgb(251, 251, 251);
$color-black-transparent: rgba(0, 0, 0, 0.603);
$color-black-transparent-light: rgba(0, 0, 0, 0.704);
$color-text-gray-light: rgba(255, 255, 255, 0.504);
$color-text-gray-mid: rgba(255, 255, 255, 0.9);